In [89]:
import pandas as pd

In [1]:
# los angeles accidents 2020 - present
# us accidents 2016 - 2023
los_angeles_crimes_df = pd.read_csv("./data/los_angeles_crimes.csv")
us_accidents_df = pd.read_csv("./data/us_accidents.csv")

# Prepare us_accidents before merge

In [42]:
# change weather timestamp to datetime
us_accidents_df['Weather_Timestamp'] = pd.to_datetime(us_accidents_df['Weather_Timestamp'], format='%Y-%m-%d %H:%M:%S',)

In [43]:
los_angeles_accidents_df = us_accidents_df[us_accidents_df['City'] == 'Los Angeles']

In [44]:
los_angeles_accidents_df = los_angeles_accidents_df[los_angeles_accidents_df['Weather_Timestamp'].dt.year >= 2020]

In [81]:
los_angeles_weather_df = los_angeles_accidents_df[['ID',"Weather_Timestamp","Temperature(F)","Wind_Chill(F)","Humidity(%)","Pressure(in)","Visibility(mi)","Wind_Direction","Wind_Speed(mph)","Precipitation(in)","Weather_Condition", "Sunrise_Sunset", "Civil_Twilight","Nautical_Twilight","Astronomical_Twilight"]]

## Check for duplicates

In [85]:
len(los_angeles_weather_df)

90296

In [86]:
# Drop duplicate records based on 'Weather_Timestamp' column
los_angeles_weather_df = los_angeles_weather_df.drop_duplicates(subset=['Weather_Timestamp'])
len(los_angeles_weather_df)

34510

In [87]:
los_angeles_weather_df.head(5)

,ID,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
512382,A-512413,2022-09-08 12:47:00,88.0,88.0,48.0,29.59,10.0,CALM,0.0,0.0,Fair,Day,Day,Day,Day
512491,A-512528,2022-09-08 08:53:00,77.0,77.0,74.0,29.71,10.0,CALM,0.0,0.0,Mostly Cloudy,Day,Day,Day,Day
512492,A-512529,2022-09-08 09:47:00,79.0,79.0,60.0,29.67,9.0,VAR,3.0,0.0,Fair,Day,Day,Day,Day
512613,A-512664,2022-09-08 07:47:00,75.0,75.0,76.0,29.67,10.0,CALM,0.0,0.0,Fair,Day,Day,Day,Day
512629,A-512682,2022-09-08 05:47:00,73.0,73.0,79.0,29.65,10.0,CALM,0.0,0.0,Fair,Night,Night,Day,Day

In [58]:
los_angeles_weather_df.dtypes

ID                               object
Start_Lat                       float64
Start_Lng                       float64
Weather_Timestamp        datetime64[ns]
Temperature(F)                  float64
Wind_Chill(F)                   float64
Humidity(%)                     float64
Pressure(in)                    float64
Visibility(mi)                  float64
Wind_Direction                   object
Wind_Speed(mph)                 float64
Precipitation(in)               float64
Weather_Condition                object
Sunrise_Sunset                   object
Civil_Twilight                   object
Nautical_Twilight                object
Astronomical_Twilight            object
dtype: object

In [88]:
los_angeles_weather_df.columns

Index(['ID', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

# Prepare los_angeles_crimes before merge

In [47]:
los_angeles_crimes_df['DATE OCC'] = pd.to_datetime(los_angeles_crimes_df['DATE OCC'], format='%m/%d/%Y %I:%M:%S %p')

In [62]:
los_angeles_crimes_df = los_angeles_crimes_df[["DATE OCC",'AREA','AREA NAME','Crm Cd','Crm Cd Desc','Vict Age','Vict Sex','Premis Cd','Premis Desc','Weapon Used Cd','Weapon Desc','LOCATION','LAT','LON']]

In [63]:
los_angeles_crimes_df.columns

Index(['DATE OCC', 'AREA', 'AREA NAME', 'Crm Cd', 'Crm Cd Desc', 'Vict Age',
       'Vict Sex', 'Premis Cd', 'Premis Desc', 'Weapon Used Cd', 'Weapon Desc',
       'LOCATION', 'LAT', 'LON'],
      dtype='object')

In [64]:
los_angeles_crimes_df.head()

,DATE OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,LOCATION,LAT,LON
0,2020-03-01,7,Wilshire,510,VEHICLE - STOLEN,0,M,101.0,STREET,NaN,NaN,1900 S LONGWOOD AV,34.0375,-118.3506
1,2020-02-08,1,Central,330,BURGLARY FROM VEHICLE,47,M,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,1000 S FLOWER ST,34.0444,-118.2628
2,2020-11-04,3,Southwest,480,BIKE - STOLEN,19,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,1400 W 37TH ST,34.0210,-118.3002
3,2020-03-10,9,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,405.0,CLOTHING STORE,NaN,NaN,14000 RIVERSIDE DR,34.1576,-118.4387
4,2020-08-17,6,Hollywood,354,THEFT OF IDENTITY,28,M,102.0,SIDEWALK,NaN,NaN,1900 TRANSIENT,34.0944,-118.3277

In [59]:
los_angeles_crimes_df.dtypes

DR_NO                      int64
Date Rptd                 object
DATE OCC          datetime64[ns]
TIME OCC                   int64
AREA                       int64
AREA NAME                 object
Rpt Dist No                int64
Part 1-2                   int64
Crm Cd                     int64
Crm Cd Desc               object
Mocodes                   object
Vict Age                   int64
Vict Sex                  object
Vict Descent              object
Premis Cd                float64
Premis Desc               object
Weapon Used Cd           float64
Weapon Desc               object
Status                    object
Status Desc               object
Crm Cd 1                 float64
Crm Cd 2                 float64
Crm Cd 3                 float64
Crm Cd 4                 float64
LOCATION                  object
Cross Street              object
LAT                      float64
LON                      float64
dtype: object

In [73]:
los_angeles_crimes_df.columns

Index(['DATE OCC', 'AREA', 'AREA NAME', 'Crm Cd', 'Crm Cd Desc', 'Vict Age',
       'Vict Sex', 'Premis Cd', 'Premis Desc', 'Weapon Used Cd', 'Weapon Desc',
       'LOCATION', 'LAT', 'LON'],
      dtype='object')

In [71]:
len(los_angeles_crimes_df)

944235

# FIND CLOSEST TIMESTAMP

In [94]:
los_angeles_weather_df.dtypes

ID                               object
Weather_Timestamp        datetime64[ns]
Temperature(F)                  float64
Wind_Chill(F)                   float64
Humidity(%)                     float64
Pressure(in)                    float64
Visibility(mi)                  float64
Wind_Direction                   object
Wind_Speed(mph)                 float64
Precipitation(in)               float64
Weather_Condition                object
Sunrise_Sunset                   object
Civil_Twilight                   object
Nautical_Twilight                object
Astronomical_Twilight            object
dtype: object

In [97]:
weather_timestamps = los_angeles_weather_df['Weather_Timestamp'].values
weather_timestamps

array(['2022-09-08T12:47:00.000000000', '2022-09-08T08:53:00.000000000',
       '2022-09-08T09:47:00.000000000', ...,
       '2020-01-06T17:51:00.000000000', '2020-01-06T20:53:00.000000000',
       '2020-01-06T20:52:00.000000000'], dtype='datetime64[ns]')

In [102]:
# Sort weather dataframe by Weather_Timestamp
los_angeles_weather_df = los_angeles_weather_df.sort_values('Weather_Timestamp').reset_index(drop=True)

In [103]:
# Extract weather timestamps
weather_timestamps = los_angeles_weather_df['Weather_Timestamp'].values

In [113]:
from bisect import bisect_left


# Function to find the index of the closest weather timestamp
def find_closest_timestamp_index(timestamp):
    pos = bisect_left(weather_timestamps, timestamp)
    if pos == 0:
        return 0
    if pos == len(weather_timestamps):
        return len(weather_timestamps) - 1
    before = weather_timestamps[pos - 1]
    after = weather_timestamps[pos]
    if after - timestamp < timestamp - before:
        return pos
    else:
        return pos - 1

In [115]:
combined_records = []
# Iterate over each record in the crime dataframe
for idx, crime_record in los_angeles_crimes_df.iterrows():
    # Find the index of the closest weather data
    closest_weather_index = find_closest_timestamp_index(crime_record['DATE OCC'])
    # Extract the corresponding weather data
    closest_weather_data = los_angeles_weather_df.iloc[closest_weather_index]
    # Combine the crime record with the closest weather data
    combined_record = pd.concat([crime_record, closest_weather_data], axis=0)
    # Append the combined record to the list
    combined_records.append(combined_record)

# Convert the list of combined records to a DataFrame
combined_df = pd.DataFrame(combined_records)

# Reset index to maintain a clean DataFrame structure
combined_df.reset_index(drop=True, inplace=True)

In [116]:
combined_df.head(5)

,DATE OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Premis Cd,Premis Desc,Weapon Used Cd,...,Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2020-03-01,7,Wilshire,510,VEHICLE - STOLEN,0,M,101.0,STREET,NaN,...,29.96,10.0,E,6.0,0.0,Fair,Night,Night,Night,Night
1,2020-02-08,1,Central,330,BURGLARY FROM VEHICLE,47,M,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,...,29.85,7.0,CALM,0.0,0.0,Fair,Night,Night,Night,Night
2,2020-11-04,3,Southwest,480,BIKE - STOLEN,19,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,...,29.84,4.0,CALM,0.0,0.0,Haze,Night,Night,Night,Night
3,2020-03-10,9,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,405.0,CLOTHING STORE,NaN,...,29.92,10.0,ENE,8.0,0.0,Light Rain,Night,Night,Night,Night
4,2020-08-17,6,Hollywood,354,THEFT OF IDENTITY,28,M,102.0,SIDEWALK,NaN,...,29.71,6.0,CALM,0.0,0.0,Haze,Night,Night,Night,Night

In [117]:
combined_df.to_csv('crimes_weather.csv', index=False, date_format='%Y-%m-%d %H:%M:%S')